<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

.bar { fill: steelblue; }

</style>
<body>
	
<!-- load the d3.js library -->    	
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 90, left: 40},
    width = 400 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// set the ranges
var x = d3.scale.ordinal()
          .rangeRoundBands([0, width], 0.2, 0.1)
<!--          .padding(0.1);-->
var y = d3.scale.linear()
          .range([height, 0]);
          
// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

// get the data
d3.csv("https://raw.githubusercontent.com/AparnaDutt/AparnaDutt/master/age_deaths6.csv", function(error, data) {
  if (error) throw error;

  // format the data
  data.forEach(function(d) {
    d.Number_of_Deaths = +d.Number_of_Deaths;
  });

  // Scale the range of the data in the domains
  x.domain(data.map(function(d) { return d.Age; }));
  y.domain([0, d3.max(data, function(d) { return d.Number_of_Deaths; })]);

  // append the rectangles for the bar chart
  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.Age); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.Number_of_Deaths); })
      .attr("height", function(d) { return height - y(d.Number_of_Deaths); });

  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.svg.axis().scale(x))
       .selectAll("text")
            .attr("y", 0)
            .attr("x", 9)
            .attr("dy", ".35em")
            .attr("transform", "rotate(90)")
            .style("text-anchor", "start");

  // add the y Axis
  svg.append("g")
       .call(d3.svg.axis().scale(y).orient("left"));

});

</script>
</body>
</html>